body {
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.App {
	text-align: center;
	display: flex;
	min-height: 100vh;
	align-items: center;
}

.signup {
  padding-top: 20px;
}

.tout {
  text-align: center;
}

.profilePic {
  padding-top: 20px;
  padding-bottom: 10px;
}

.profileTab {
  padding-left: 16px;
  padding-top: 10px;
}

.editProfileTab {
  padding-left: 16px;
}

.form {
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  background-color: black;
}