html,
body {
  color: black;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.signup {
  padding-top: 20px;
}

.tout {
  text-align: center;
}

.profilePic {
  padding-top: 20px;
  padding-bottom: 10px;
}

.profileTab {
  padding-left: 16px;
  padding-top: 10px;
}

.editProfileTab {
  padding-left: 16px;
}

.form {
  margin-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.postCard {
  width: auto;
  height: auto;
  margin: 20px;
  /* align-content: center; */
  border-color: grey;
  background-color: #fcfba7;
  box-shadow: 3px 5px 5px black;
}

.favCard {
  width: auto;
  height: auto;
  margin: 20px;
  border-color: grey;
  background-color: #fcfba7;
  box-shadow: 3px 5px 5px black;
}

.page-header {
  /* margin-top: 20px;   */
  text-align: center;
}

.profileHeader {
  text-align: center;
  margin-top: -15px;
}

p {
  margin-left: 20px;
}

.footer {
  margin-top: 0;
}

.mypostBody {
  background-image: url('./images/realCork.jpg');
  background-position: center center;
  background-repeat: repeat-y;
  border: 3px solid #483c32;
  box-shadow: 0 0 0 11px rgb(180, 130, 90), 0 0 30px rgba(0, 0, 0, 0.8) inset;
  outline: 2px solid #333;
  margin-bottom: 70px;
}

.myFavBgd {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-image: url('./images/spiralGraf.jpg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}

.mypostBgd {
  margin: 0;
  height: 100%;
  min-height: 100%;
  background-image: url('./images/brickWall.jpg');
  background-repeat: repeat-y;
  background-position: center center;
  background-size: cover;
}

.postHeaderBgd {
  background-image: url('./images/silverPlate.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 3.4rem;
  padding-top: 3.4rem;
}

.favHeaderBgd {
  background-image: url('./images/goldPlaque.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-bottom: 4.6rem;
  padding-top: 4.6rem;
}

.white-background {
  background-color: white;
}

.sellerProfForm {
  margin: 0 auto;
  width: 60%;
  background-color: #fcfba7;
  border-radius: 0.25rem;
  box-shadow: -3px 1px 5px grey;
}

.sellerHeaderBgd {
  background-image: url('./images/yellowPaper.png');
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
  padding-bottom: 0.5rem;
}
