#basic-nav-dropdown {
    color: white !important;
    }

#basic-nav-dropdown:hover {
    text-shadow: 0 0 10px yellowgreen;
    }

#glow:hover {
    text-shadow: 0 0 10px yellowgreen;
    }

.menu-item {
    padding: 5px;
    color: white;
    background-color: black;
}

.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    overflow: hidden;
    background-color: #000;
    border-top: 5px solid white;
    color: #fff;
    justify-content: center;
}