/* #profileImageUpload { */
    /* margin-left: 15px; */
    /* margin-bottom: 15px; */
/* } */

.profileUpload {
    margin-left: 15px;
    margin-bottom: 15px;
}

.nav-link.active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.788)!important;
}

:link {
    color: black;
}

a:hover {
    color: orange;
  }

  .profileBody {
    margin: 0;
    height: 100%;
    background-image: url("../../images/basementPic.jpg");
    /*background-position: absolute;*/
    /*background-size: fill; */
}

.profileCard {
    align-content: center; 
    border-color: darkgrey;
    box-shadow: 3px 5px 5px grey;
    opacity: 1; 
    background-color: white; 
}
