/* #profileImageUpload { */
    /* margin-left: 15px; */
    /* margin-bottom: 15px; */
/* } */

.profileUpload {
    margin-left: 15px;
    margin-bottom: 15px;
}

.nav-link.active {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.788)!important;
}

:link {
    color: black;
}

a:hover {
    color: orange;
  }