.shoeCard {
    width: 300px;
    height: 600px;
    margin: 55px;
    /* align-content: center; */
    border-color: darkgrey;
    box-shadow: 3px 5px 5px grey;
}
.cardPhoto {
    height: 200px;
}

.favCard {
    width: 289px;
    /* align-self: center; */
    /* margin: 5px; */
    border-color: darkgrey;
    box-shadow: 3px 5px 5px grey;
    margin: 55px;

}

.filter {
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.page-header{
    margin-top: 20px;
}

p {
    margin-left: 20px;
}