html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.feedBody {
    margin: 0;
    height: 100%;
    background-image: url("../../images/feedPic.jpg");
    background-repeat: repeat-y;
    background-position: absolute;
    background-size: cover;
}

.shoeCard {
    width: 300px;
    height: 630px;
    margin: 55px;
    /* align-content: center; */
    border-color: darkgrey;
    box-shadow: 3px 5px 5px black;
    background-color: #fcfba7;
    /* #fdfd96; */
    
}

.greetBgd {
    background-image: url("../../images/yellowPaper.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    padding-bottom: 3rem;
}

.favCard {
    width: 289px;
    /* align-self: center; */
    /* margin: 5px; */
    border-color: darkgrey;
    box-shadow: 3px 5px 5px grey;
    margin: 55px;
}

.filter {
    padding-top: 20px;
    /* padding-bottom: 20px; */
}

.cursor {
    cursor: pointer;
}



